<div class="container-item">
  <h1 class="main-head">The value of Money</h1>
  <div class="img-left">
    <img src="img/value_of_money.jpeg" alt="The value of Money" />
  </div>
  <div class="para">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra
      blandit metus non sollicitudin. Quisque placerat elementum dui non
      tincidunt. Duis nisl dui, placerat in luctus bibendum, iaculis eget arcu.
      Nam non aliquet justo. Aliquam erat volutpat. Vivamus tincidunt metus sit
      amet semper vestibulum. Duis ante arcu, posuere quis placerat nec, laoreet
      at erat. Etiam consequat fermentum sapien, id imperdiet felis suscipit
      nec. Aliquam ac arcu vestibulum augue cursus interdum. Suspendisse
      ullamcorper venenatis metus. Cras ut mauris mollis, laoreet mi quis,
      aliquet ligula. Maecenas id ex maximus, malesuada metus sed, bibendum
      libero. Maecenas dignissim eleifend hendrerit. In hac habitasse platea
      dictumst. Nullam vel orci ac magna fringilla condimentum a eget risus.
      <br />
      <br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra
      blandit metus non sollicitudin. Quisque placerat elementum dui non
      tincidunt. Duis nisl dui, placerat in luctus bibendum, iaculis eget arcu.
      Nam non aliquet justo. Aliquam erat volutpat. Vivamus tincidunt metus sit
      amet semper vestibulum. Duis ante arcu, posuere quis placerat nec, laoreet
      at erat. Etiam consequat fermentum sapien, id imperdiet felis suscipit
      nec. Aliquam ac arcu vestibulum augue cursus interdum. Suspendisse
      ullamcorper venenatis metus. Cras ut mauris mollis, laoreet mi quis,
      aliquet ligula. Maecenas id ex maximus, malesuada metus sed, bibendum
      libero. Maecenas dignissim eleifend hendrerit. In hac habitasse platea
      dictumst. Nullam vel orci ac magna fringilla condimentum a eget risus.
    </p>
  </div>
</div>
<div class="float-clear"></div>
<hr />
<div class="container-item">
  <h1 class="main-head">GMO Food</h1>
  <div class="img-right">
    <img src="img/gmo_food.jpeg" alt="GMO Food" />
  </div>
  <div class="para">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra
      blandit metus non sollicitudin. Quisque placerat elementum dui non
      tincidunt. Duis nisl dui, placerat in luctus bibendum, iaculis eget arcu.
      Nam non aliquet justo. Aliquam erat volutpat. Vivamus tincidunt metus sit
      amet semper vestibulum. Duis ante arcu, posuere quis placerat nec, laoreet
      at erat. Etiam consequat fermentum sapien, id imperdiet felis suscipit
      nec. Aliquam ac arcu vestibulum augue cursus interdum. Suspendisse
      ullamcorper venenatis metus. Cras ut mauris mollis, laoreet mi quis,
      aliquet ligula. Maecenas id ex maximus, malesuada metus sed, bibendum
      libero. Maecenas dignissim eleifend hendrerit. In hac habitasse platea
      dictumst. Nullam vel orci ac magna fringilla condimentum a eget risus.
      <br />
      <br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra
      blandit metus non sollicitudin. Quisque placerat elementum dui non
      tincidunt. Duis nisl dui, placerat in luctus bibendum, iaculis eget arcu.
      Nam non aliquet justo. Aliquam erat volutpat. Vivamus tincidunt metus sit
      amet semper vestibulum. Duis ante arcu, posuere quis placerat nec, laoreet
      at erat. Etiam consequat fermentum sapien, id imperdiet felis suscipit
      nec. Aliquam ac arcu vestibulum augue cursus interdum. Suspendisse
      ullamcorper venenatis metus. Cras ut mauris mollis, laoreet mi quis,
      aliquet ligula. Maecenas id ex maximus, malesuada metus sed, bibendum
      libero. Maecenas dignissim eleifend hendrerit. In hac habitasse platea
      dictumst. Nullam vel orci ac magna fringilla condimentum a eget risus.
    </p>
  </div>
</div>
<div class="float-clear"></div>
<hr />
<div class="container-item">
  <h1 class="main-head">The view of World in 2100</h1>
  <div class="img-left">
    <img src="img/view_of_world.jpeg" alt="The view of World in 2100" />
  </div>
  <div class="para">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra
      blandit metus non sollicitudin. Quisque placerat elementum dui non
      tincidunt. Duis nisl dui, placerat in luctus bibendum, iaculis eget arcu.
      Nam non aliquet justo. Aliquam erat volutpat. Vivamus tincidunt metus sit
      amet semper vestibulum. Duis ante arcu, posuere quis placerat nec, laoreet
      at erat. Etiam consequat fermentum sapien, id imperdiet felis suscipit
      nec. Aliquam ac arcu vestibulum augue cursus interdum. Suspendisse
      ullamcorper venenatis metus. Cras ut mauris mollis, laoreet mi quis,
      aliquet ligula. Maecenas id ex maximus, malesuada metus sed, bibendum
      libero. Maecenas dignissim eleifend hendrerit. In hac habitasse platea
      dictumst. Nullam vel orci ac magna fringilla condimentum a eget risus.
      <br />
      <br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra
      blandit metus non sollicitudin. Quisque placerat elementum dui non
      tincidunt. Duis nisl dui, placerat in luctus bibendum, iaculis eget arcu.
      Nam non aliquet justo. Aliquam erat volutpat. Vivamus tincidunt metus sit
      amet semper vestibulum. Duis ante arcu, posuere quis placerat nec, laoreet
      at erat. Etiam consequat fermentum sapien, id imperdiet felis suscipit
      nec. Aliquam ac arcu vestibulum augue cursus interdum. Suspendisse
      ullamcorper venenatis metus. Cras ut mauris mollis, laoreet mi quis,
      aliquet ligula. Maecenas id ex maximus, malesuada metus sed, bibendum
      libero. Maecenas dignissim eleifend hendrerit. In hac habitasse platea
      dictumst. Nullam vel orci ac magna fringilla condimentum a eget risus.
    </p>
  </div>
</div>
<div class="float-clear"></div>
<hr />
