<div class="portfolio-grid">
  <div class="portfolio-grid-item">
    <figure>
      <img src="img/portfolio icon/photography.png" alt="Photography" />
      <figcaption>Photography</figcaption>
    </figure>
  </div>
  <div class="portfolio-grid-item">
    <figure>
      <img src="img/portfolio icon/videography.JPG" alt="Videography" />
      <figcaption>Videography</figcaption>
    </figure>
  </div>
  <div class="portfolio-grid-item">
    <figure>
      <img src="img/portfolio icon/prototype.png" alt="Prototype" />
      <figcaption>Prototype</figcaption>
    </figure>
  </div>
  <div class="portfolio-grid-item">
    <figure>
      <img src="img/portfolio icon/branding.JPG" alt="Infographic Videos" />
      <figcaption>Infographic Videos</figcaption>
    </figure>
  </div>
  <div class="portfolio-grid-item">
    <figure>
      <img src="img/portfolio icon/poster.jpg" alt="Poster" />
      <figcaption>Poster</figcaption>
    </figure>
  </div>
  <div class="portfolio-grid-item">
    <figure>
      <img src="img/portfolio icon/post cards.png" alt="Post Cards" />
      <figcaption>Post Cards</figcaption>
    </figure>
  </div>
</div>
<hr />
